.modalPopLite-mask
{
  position:fixed;
  z-index:9994;
  background-color:#000;
  display:none;
  top:0px;
  left:0px;
  width:100%;
}
.modalPopLite-wrapper
{
    position:fixed;
    z-index:9995;
    /*display:none;*/
    /*left:-10000px;*/
    -webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 0px 25px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0px 25px rgba(0,0,0,.9);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);    
    border: 5px solid #335805;
    
}

/* popup */
.popBox-holder 
{
     display:none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 999;
     background-color:#000;
     filter:alpha(opacity=40);
     opacity:0.5;
     
}

.popBox-container 
{
     display:none;
     background-color: #fff;
     border:4px solid #000;
     padding:10px;
     text-align:center;
     z-index: 1000;
     	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.popBox-container .done-button
{
    margin-top:10px;
}

.popBox-container .button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.popBox-container .button:hover {
	text-decoration: none;
}
.popBox-container .button:active {
	position: relative;
	top: 1px;
}

.popBox-container .small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
.popBox-container .blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.popBox-container .blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.popBox-container .blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.popBox-ajax-progress
{
     position: fixed;
	 left: 0px;
	 top: 0px;
	 width:100%;
	 height:100%;
	 text-align:center;
	 z-index: 99999;
	 background-color:#000;
	 filter:alpha(opacity=40);
	 opacity:0.5;
	 background-image: url('ajax-loader.gif');
	 background-repeat:no-repeat;
	 background-position:center center;
}
/* end popup */

